:root {
  --accent-hover: #2196f3;
  --main-bkg-cl: #e5e5e5;
  --font-cl-com: #212121;
  --bg-cl-com: #ffffff;
  --font-cl-sc: #757575;
  --add-bckg-cl: #2f303a;
  --add-bckg-btn: #f5f4fa;
  --portfolio-line: #ececec;
  --transition-func: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-time: 250ms;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--font-cl-sc);
  margin: 0;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
}
 */
.container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /*  outline: 1px solid red; */
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list .link.active {
  color: var(--accent-hover);
  position: relative;
}

@media screen and (min-width: 768px) {
  .active::after {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    bottom: -32px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-hover);
    border-radius: 2px;
  }
}

/* site nav */
.page-header {
  position: relative;
  background-color: var(--bg-cl-com);
  border-bottom: 1px solid var(--portfolio-line);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--add-bckg-cl);
}

.logo-web {
  color: var(--accent-hover);
}

/* .nav, */
.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-list .nav-item:not(:last-child) {
  margin-right: 50px;
}
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .nav-list {
    margin-left: 88px;
  }
}
.nav-list .link {
  color: var(--font-cl-com);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--transition-func);
          transition-timing-function: var(--transition-func);
}

.nav-item .link:hover,
.nav-item .link:focus {
  color: var(--accent-hover);
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contacts .link {
  color: var(--font-cl-sc);
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-func);
          transition-timing-function: var(--transition-func);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts .contact-item:not(:last-child) {
    margin-right: 50px;
  }
}

.mail-svg,
.phone-svg {
  margin-right: 8px;
  fill: var(--font-cl-sc);
  vertical-align: middle;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-func);
          transition-timing-function: var(--transition-func);
}
.mail:hover .mail-svg, .mail:focus .mail-svg,
.mail:hover .phone-svg,
.mail:focus .phone-svg {
  fill: var(--accent-hover);
}
.phone:hover .mail-svg, .phone:focus .mail-svg,
.phone:hover .phone-svg,
.phone:focus .phone-svg {
  fill: var(--accent-hover);
}
@media screen and (min-width: 1200px) {
  .mail-svg,
.phone-svg {
    margin-right: 10px;
  }
}

.mail:hover,
.mail:focus,
.phone:hover,
.phone:focus {
  color: var(--accent-hover);
}

.mobile-menu-btn {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-left: auto;
  padding: 0;
}
.mobile-menu-btn:hover, .mobile-menu-btn:focus {
  fill: var(--accent-hover);
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-btn .icon-open {
  opacity: 1;
}

.mobile-menu-btn.is-open .icon-open {
  opacity: 0;
}

.mobile-menu-btn .icon-close {
  opacity: 0;
}

.mobile-menu-btn.is-open .icon-close {
  opacity: 1;
}

.mobile-menu {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  -webkit-transition: -webkit-transform 400ms ease-in;
  transition: -webkit-transform 400ms ease-in;
  transition: transform 400ms ease-in;
  transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-menu .link.active {
  color: var(--accent-hover);
  position: relative;
}

.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu-nav-link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu-nav-item:not(:first-child) {
  margin-top: 32px;
}

.mobile-menu-contacts {
  margin-top: auto;
}

.mobile-menu-contact-item:last-child {
  margin-top: 32px;
  margin-bottom: 64px;
}

.mobile-menu-contact-item .mobile-menu-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (max-width: 479px) {
  .mobile-menu-contact-item .mobile-menu-phone {
    font-size: 24px;
  }
}

.mobile-menu-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.mobile-menu-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.hero {
  max-width: 480px;
  margin: 0 auto;
  background-color: var(--add-bckg-cl);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero-mob\ 1x.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-mob\ 1x.jpg);
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero-mob\ 2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-mob\ 2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero-tab\ 1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-tab\ 1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero-tab\ 2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-tab\ 2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-desk\ 1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desk\ 1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-desk\ 2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desk\ 2x.jpg);
  }
}

.hero-header {
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bg-cl-com);
}
@media screen and (min-width: 1200px) {
  .hero-header {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-btn {
  background-color: var(--accent-hover);
  color: var(--bg-cl-com);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin-top: 40px;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-func);
          transition-timing-function: var(--transition-func);
}
.hero-btn:hover, .hero-btn:focus {
  background-color: #188ce8;
}

.benefits {
  background-color: var(--bg-cl-com);
}

.benefits__list {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .benefits__list {
    gap: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .benefits__item {
    margin-bottom: 30px;
  }
  .benefits__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .benefits__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.benefits__img {
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}

.benefits__header {
  text-transform: uppercase;
  color: var(--font-cl-com);
  font-size: inherit;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .benefits__header {
    text-align: left;
  }
}

.benefits__text {
  font-size: inherit;
  margin-top: 10px;
}

.we-do {
  background-color: var(--bg-cl-com);
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .we-do {
    display: none;
  }
}

.we-do__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.we-do__header {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-cl-com);
}

.we-do__item {
  position: relative;
}
.we-do__item:not(:last-child) {
  margin-right: 30px;
}

.we-do__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 0;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.team {
  background-color: var(--add-bckg-btn);
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team-unit {
  background-color: var(--bg-cl-com);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 480px;
}
@media screen and (max-width: 767px) {
  .team-unit:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-unit {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-unit {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

/* @include desktop {
    /* &:not(:nth-child(4n)) {
      margin-right: 30px;
    } 
  } */
.team-description {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team-description {
    padding-bottom: 30px;
  }
}

.team-header {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--font-cl-com);
}
@media screen and (min-width: 1200px) {
  .team-header {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.team-person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--font-cl-com);
}

.team-position {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-socials-item:not(:last-child) {
  margin-right: 10px;
}

.team-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.team-socials-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-func);
          transition-timing-function: var(--transition-func);
}
.team-socials-link:hover, .team-socials-link:focus {
  background-color: #2196f3;
}

.team-socials-svg {
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-func);
          transition-timing-function: var(--transition-func);
}
.team-socials-link:hover .team-socials-svg, .team-socials-link:focus .team-socials-svg {
  fill: #ffffff;
}

.clients-header {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-cl-com);
}
@media screen and (min-width: 1200px) {
  .clients-header {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #afb1b8;
}

.client-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: fill, color;
  transition-property: fill, color;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-func);
          transition-timing-function: var(--transition-func);
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client-item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}
.client-item:hover {
  color: #2196f3;
  border-color: #2196f3;
}
.client-item .client-svg {
  fill: currentColor;
}

.page-footer {
  background-color: var(--add-bckg-cl);
  padding-top: 60px;
  padding-bottom: 60px;
}
.page-footer .logo {
  color: var(--bg-cl-com);
}

.studio-contacts {
  font-style: normal;
  margin-top: 20px;
}
@media screen and (max-width: 1199px) {
  .studio-contacts {
    margin-bottom: 60px;
  }
}

.adress .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--bg-cl-com);
}

.footer-contact {
  margin-top: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-contact {
    margin-top: 9px;
  }
}
.footer-contact .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social-text {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-box {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    width: 206px;
    height: 80px;
    margin-left: 70px;
  }
}

.footer-socials-item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.footer-socials-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-func);
          transition-timing-function: var(--transition-func);
}
.footer-socials-link:hover, .footer-socials-link:focus {
  background-color: #2196f3;
}

.subscribe-btn {
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .footer-form {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 93px;
  }
}

.footer-form-input {
  min-width: 100%;
  padding: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
}
.footer-form-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 480px) {
  .footer-form-input {
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-input {
    min-width: 358px;
  }
}

.subscribe-btn {
  padding: 10px 29px;
  margin-top: 20px;
}
.subscribe-btn::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-image: url(../images/icon-telegram.svg);
}
@media screen and (min-width: 1200px) {
  .subscribe-btn {
    margin-left: 12px;
    margin-top: 0px;
  }
}

.portfolio {
  background-color: var(--bg-cl-com);
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filter-btn {
    margin-bottom: 15px;
  }
}

.filter-btn:not(:first-child) {
  margin-left: 8px;
}

.btn {
  border: none;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--font-cl-com);
  background-color: var(--add-bckg-btn);
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-func);
          transition-timing-function: var(--transition-func);
}

.filter-btn :hover,
.filter-btn :focus {
  background-color: var(--accent-hover);
  color: var(--bg-cl-com);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-func);
          transition-timing-function: var(--transition-func);
}
.project-item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project-item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.proj-text-cover {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--font-cl-com);
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--font-cl-sc);
}

.card-box {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--transition-func);
          transition-timing-function: var(--transition-func);
}
.project-item:hover .overlay-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (max-width: 419px) {
  .overlay-text {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .overlay-text {
    padding: 63px 24px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

@-webkit-keyframes modal-w {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal-w {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  height: auto;
  z-index: 100;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-animation-name: modal-w;
          animation-name: modal-w;
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
  -webkit-animation-timing-function: 0.4, 0, 0.2, 1;
          animation-timing-function: 0.4, 0, 0.2, 1;
}
@media screen and (max-width: 479px) {
  .modal {
    width: 316px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.close-btn {
  position: absolute;
  z-index: 101;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-func);
          transition-timing-function: var(--transition-func);
}
.close-btn:hover .modal-close, .close-btn:focus .modal-close {
  fill: #2196f3;
}

.modal-form {
  margin-right: auto;
  margin-left: auto;
}

.form-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .form-title {
    line-height: 1.15;
  }
}

.modal-form-group {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.modal-form-group:last-of-type {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-form-group:nth-of-type(4n) {
  margin-bottom: 20px;
}

input,
textarea {
  color: currentColor;
}

.form-input {
  width: 100%;
  padding: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-func);
          transition-timing-function: var(--transition-func);
}
.form-input:not(:-moz-placeholder-shown) {
  border-color: #2196f3;
}
.form-input:not(:-ms-input-placeholder) {
  border-color: #2196f3;
}
.form-input:hover, .form-input:focus, .form-input:not(:placeholder-shown) {
  border-color: #2196f3;
}

.modal-form-tag {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--transition-time);
          transition-duration: var(--transition-time);
  -webkit-transition-timing-function: var(--transition-func);
          transition-timing-function: var(--transition-func);
}
.form-input:not(:-moz-placeholder-shown) + .modal-form-icon {
  fill: #2196f3;
}
.form-input:not(:-ms-input-placeholder) + .modal-form-icon {
  fill: #2196f3;
}
.form-input:hover + .modal-form-icon, .form-input:focus + .modal-form-icon, .form-input:not(:placeholder-shown) + .modal-form-icon {
  fill: #2196f3;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}
.modal-form-message::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message::-moz-placeholder {
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message::placeholder {
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:hover, .modal-form-message:focus {
  border-color: #2196f3;
}

.modal-form-agreement {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .modal-form-agreement {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-agreement-link {
  text-underline-position: under;
  color: #2196f3;
}

.modal-form-checkbox-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
}
.modal-form-checkbox:checked + .modal-form-checkbox-custom {
  border-color: transparent;
  background-color: #2196f3;
}

.modal-form-checkbox-icon {
  fill: #ffffff;
}

.send-btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 55px;
}/*# sourceMappingURL=main.css.map */