:root {
	--accent-hover: #2196f3;
	--main-bkg-cl: #e5e5e5;
	--font-cl-com: #212121;
	--bg-cl-com: #ffffff;
	--font-cl-sc: #757575;
	--add-bckg-cl: #2f303a;
	--add-bckg-btn: #f5f4fa;
	--portfolio-line: #ececec;
	--transition-func: cubic-bezier(0.4, 0, 0.2, 1);
	--transition-time: 250ms;
}
